<ion-view>
  <ion-content class="fondoadn">
     
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>

<div >
<div id="stage">
  <div id="spinner" style="text-align: center; color: #fff;">
    <h1><span class="blue">1</span><span>_____________ </span><span class="pink">1</span></h1>

    <h1><span class="blue">2</span><span>_____________ </span><span class="pink">2</span></h1>

    <h1><span class="blue">3</span><span>_____________ </span><span class="pink">3</span></h1>
    <h1><span class="blue">4</span><span>_____________ </span><span class="pink">4</span></h1>

    <h1><span class="blue">4</span><span>_____________ </span><span class="pink">5</span></h1>

    

    
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="video">Video Interactivo</b></div>
    
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="info">info</b></div>
    

  </ion-content>
</ion-view>
