<ion-view>
  <ion-content class="foninfo">
    
    <div class="row">
      <div class="col">
        <h1 class="reproducción">Reproduccion Sexual <FONT FACE="raro, courier" SIZE=4 COLOR="white"></h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-30 info">
        <div class="teoria text-center">
          <br><br>
          <p><b> Es la reproducción de las plantas con flores. Cuando un grano de polen llega al pistilo de la flor, se produce la polinización </b></p>
          <br><br>
      <h3 class="reproduccion" >Reproducción Vegetal</h3>
        <img  class="ejemplo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Mature_flower_cropped-es.svg/640px-Mature_flower_cropped-es.svg.png">
      </div>
      <div class="col-50 info">
        <br>
        
        </div>
      </div>
    </div>
    <div class="row">    
        <div class="col-30 info">
          <div class="teoria2 text-center">
             <br><br>           
                    <p><b> Intervienen dos progenitores que producen gametos en sus organos sexuales. En la fecundacion se unen los gametos femeninos y masculinos y se forma el gigota que producira un individuo disdinto a los progenitores </b></p>
          <br><br>

      <h3 class="reproduccion" >Reproducción Humana</h3>
        <img  class="ejemplo2" src="https://t2.up.ltmcdn.com/es/images/5/2/0/introduccion_a_la_reproduccion_humana_3025_0_600.jpg">
      </div>
    </div>
       
        </div>
      </div>
      <div class="col-50 info">
        <div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="video">Video Interactivo</b></div>
    
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="info">info</b></div>
  </ion-content>
</ion-view>
