<ion-view>
	<ion-content>
		
		<div class="row">
			<div class="col">
				<div class="divisionform">
					<br>
					<h1 class="text-center"><b>"Welcome to GOapp"</b></h1>
					<br>
					<form>
						<label><b>Nombre:</b> <input class="usuarioC2" type="text" placeholder="  Inserte Nombre" name=""></label>
						<label><b>Apellidos:</b> <input class="usuarioC2" type="text" placeholder="  Inserte Apellidos" name=""></label>
						<label><b>Email:</b> <input class="usuarioC2" type="text" placeholder="  Correo electronico" name=""></label>
						<label><b>Contraseña:</b> <input class="usuarioC2" type="text" placeholder="  Inserte su contraseña" name=""></label><br>
						<button <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://static1.squarespace.com/static/550da492e4b0fbfc5a593e75/582f515737c581887415202a/582f5158ff7c50d4bc8f8421/1479496029947/mogi8_16.gif);padding:1%;"><b ui-sref="info">iniciar</b></div></button>
						<br><br>
					</form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>