<ion-view>
  <ion-content class="fondotabla">

  	
  <br>
  <br>
  <!-- Tabla de nutrición en HTML -->
  <center>
    <div class="row">
    <div class="col-md 50">
<div class="nutrifacts-html">
  <h2> Tabla Nutricional</h2>
  <span> Tamaño De La Porción: 40g (1 Tortilla)</span>
  <div class="separator"></div>
  <!-- Tabla -->
  <table>
    <tr>
      <td colspan="2">
        <strong> Cantidad Por Unidad</strong>
          </td>
    </tr>
    <tr>
      <td>
        <strong>Calorías<strong/> 141.48kcal  
      </td>
      <td class="libredeazucar"><strong>Libre De Azúcar</strong></td>
    </tr>
    <tr>
      <td></td>
      <td class="alinearcantidad"><strong>Cantidad</strong></td>
    </tr>
    <tr>
      <td><strong>Grasa Total</strong></td>
      <td class="alineartexto">2.72g</td>
    </tr>
    <tr>
      <td> Grasa Saturada</td>
      <td class="alineartexto">2.72g</td>
    </tr>
    <tr>
      <td><strong>Carbohidratos Totales</strong></td> 
      <td class="alineartexto">30.064g</td>
    </tr>
     <tr>
      <td>Azúcares</td>
      <td class="alineartexto">0g</td>
    </tr>
    
    <tr>
      <td>Fibra</td>
      <td class="alineartexto">3.4g</td>
    </tr>
    <tr>
      <td><strong>Sodio</strong></td>
      <td class="alineartexto">0.2g</td>
    </tr>
    <tr>
      <td><strong>Proteína</strong></td>
      <td class="alineartexto">3.71g</td>
    </tr>
    <tr>
      <td><strong>Fibra Dietética</strong></td>
      <td class="alineartexto">0.28g</td>
    </tr>
    <tr>
      <td><strong>Potasio</strong></td>
      <td class="alineartexto">64mg</td>
    </tr>
    <tr>
      <td><strong>Fósforo</strong></td>
      <td class="alineartexto">42.4mg</td>
    </tr>
    <tr>
      <td><strong>Ceniza</strong></td>
      <td class="alineartexto">0.24mg</td>
    </tr>
      
  </table>
</div>
</center>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="video">Video Interactivo</b></div>
    
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://data.whicdn.com/images/305651008/original.gif);padding:1%;"><b ui-sref="info">info</b></div>
  	</ion-view>
  </ion-content>